@import '../../../../styles/mixin.scss';

table {
  width: 100%;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 315px;
  @include tablet {
    width: 260px;
    height: auto;
    margin: 0 auto;
  }
}

.release-notes {
  margin: 0 13px;
  color: $color-dark-grey;
} 

div.div--video {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-title {
  color: $color-dark-grey;
}

