<div class="div--feature-detail" *ngIf="release">
  <h2 class="detail-header">Release&nbsp;<mat-icon>album</mat-icon></h2>
  <p *ngFor="let artist of release.artists">
    Artist:&nbsp;<span class="bold">{{ artist.name }}</span>
  </p>
  <p *ngIf="release.title">
    Title:&nbsp; <span class="bold">{{ release.title }}</span>
  </p>
  <p *ngIf="release.genres && release.genres.length">
    Genres:&nbsp;<span class="bold">{{
      release.genres.length > 1 ? release.genres.join(', ') : release.genres[0]
    }}</span>
  </p>
  <p *ngIf="release.styles && release.styles.length">
    Styles:&nbsp;<span class="bold">{{
      release.styles.length > 1 ? release.styles.join(', ') : release.styles[0]
    }}</span>
  </p>
  <p *ngIf="release.released">
    Released:&nbsp;<span class="bold">{{ release.released }}</span>
  </p>
  <p *ngIf="release.lowestprice">
    Lowest Price:&nbsp;<span class="bold"
      >${{ release.lowestprice }} (USD)</span
    >
  </p>
  <hr />

  <h2 class="detail-header" *ngIf="release.notes">
    Release Notes &nbsp;<mat-icon>notes</mat-icon>
  </h2>
  <p class="release-notes" *ngIf="release.notes">{{ release.notes }}</p>
  <hr *ngIf="release.notes" />

  <h2 class="detail-header" *ngIf="release.tracklist">
    Tracklist &nbsp;<mat-icon>queue_music</mat-icon>
  </h2>
  <table mat-table [dataSource]="release.tracklist" class="mat-elevation-z5">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let track">{{ track.position }}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let track">{{ track.title }}</td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Length</th>
      <td mat-cell *matCellDef="let track">{{ track.duration || 'N/A' }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <br />
  <hr *ngIf="release.tracklist" />

  <h2 class="detail-header" *ngIf="release.videos && release.videos.length">
    Videos &nbsp;<mat-icon>music_video</mat-icon>
  </h2>
  <div *ngFor="let video of release.videos; let i = index" class="video-container">
    <iframe class="video" frameborder="0" allowfullscreen [src]="video.uri | safe"> </iframe>
  </div>
</div>
