@import '../../../../styles/mixin.scss';

p {
  padding: 0 12.5px;
}

h3 {
  margin-left: 12.5px;
  margin-right: 12.5px;
  @include flex-row-justify-start-align-center;
}

table {
  width: 100%;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 315px;
  @include tablet {
    width: 260px;
    height: auto;
    margin: 0 auto;
  }
}

::ng-deep .mat-list .mat-list-item .mat-line {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.table--discogs mat-list-item.mat-list-item {
  font-size: $app-font-size-small;
  padding: 0 !important;
}

.mat-card-content mat-list-item.mat-list-item p {
  font-size: $app-font-size-small;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1.23rem;
}

/deep/ .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 !important;
}

.release-notes {
  color: $color-dark-grey;
}

.bold {
  font-weight: 500;
  color: #333;
}

div.div--video {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-title {
  color: $color-dark-grey;
}

