
@import '../../../../styles/mixin.scss';

::ng-deep .mat-list .mat-list-item .mat-line {
  word-wrap: break-word;
  white-space: pre-wrap;
}

::ng-deep .mat-list .mat-list-item {
  height:initial!important;
}

mat-list.list--compact
  > mat-list-item.mat-list-item {
  height: 1.65rem !important;
  font-size: $app-header-font-size-mobile;
}

.bold {
  font-weight: 500;
  color: #333;
}

h3 {
  margin-left: 12.5px;
  margin-right: 12.5px;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  @include tablet {
    width: 90%;
  }
}

.mat-card.card--video {
  margin-bottom: 20px;
}