<mat-card color="primary" class="mat-elevation-z1 border-bottom-20">

  <mat-card-header>
    <div mat-card-avatar class="personal-image"></div>
    <mat-card-title class="project-title">
      RPG Dice Roller
    </mat-card-title>

    <mat-card-subtitle class="project-subtitle">
      Take a roll of the dice with this embedded RPG dice roller.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <div class="project-content-container flex-col">

      <form [formGroup]="form">
        <div class="form-field-container">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Number of Sides" formControlName="diceSides">
              <mat-option default>How many sides?</mat-option>
              <mat-option *ngFor="let x of diceSides" [value]="x">
                {{ x }} Sides
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('diceSides').invalid">{{ diceSidesErrorMessage }}</mat-error>
            <mat-hint align="end">Select a number of sides</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Number of dice" formControlName="diceCount">
              <mat-option default>How many dice?</mat-option>
              <mat-option *ngFor="let x of diceCount" [value]="x">
                {{ x }} Dice
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('diceCount').invalid">{{ diceCountErrorMessage }}</mat-error>
            <mat-hint align="end">Select a number of dice</mat-hint>
          </mat-form-field>
        </div>
      </form>

      <div
        class=""
        [matTooltipDisabled]="form.valid"
        showDelay="500"
        [matTooltipPosition]="'after'"
        aria-label="Tooltip that explains why it is disabled"
        matTooltip="Must choose side and count">
        <button
          mat-raised-button color="primary"
          class="roll-btn mat-elevation-z1 btn"
          matTooltip="Click to roll the dice"
          [matTooltipPosition]="'after'"
          matTooltipShowDelay="750"
          aria-label="Button that displays a tooltip"
          [disabled]="form.invalid"
          (click)="submitRoll()">
          Roll Dice
        </button>
      </div>

    </div>
  </mat-card-content>

  <mat-card-content>
    <table class="table_dice" id="table_dice" [@diceRolling]="diceRolls">
      <div class="dice" *ngFor="let roll of diceRolls; let i = index;">{{ roll.value }}</div>
    </table>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-button
      role="button"
      type="button"
      color="primary"
      matTooltip="Share project online"
      matTooltipShowDelay="750"
      aria-label="Button that displays a tooltip"
      i18n="@@Projects_Actions_Share"
      (click)="share('Dice Roller')">
      SHARE
    </button>
    <button mat-button
      type="button"
      role="button"
      color="primary"
      matTooltip="Click to see code"
      matTooltipShowDelay="750"
      aria-label="Button that displays a tooltip"
      i18n="@@Projects_Actions_GitHub"
      (click)="navToGitHubProject('Dice Roller')">
      GITHUB
    </button>
  </mat-card-actions>

</mat-card>