<div class="content">
    <h1 i18n="@@Global__WelcomePage__Title">Welcome</h1>
    <mat-card class="mat-elevation-z8 border-bottom-20">
      <mat-card-content>
        <p>
          My name is Joshua Michael Waggoner and I am a Full Stack/UI Developer
          from Denver, Colorado, soon-to-be residing in Spokane, WA in late July
          of 2019. I'm so excited to take this next step in life, I have always
          wanted to live in the pacific northwest and I'm ready to find my next
          role where I can make a huge impact and make awesome software! My
          interests include JavaScript and TypeScript, Node, Angular, Angular
          Material, NgRx, RxJs React/Redux, D3, Web Sockets, and CX/UX.
        </p>
        <p>
          I am a proud greyhound parent and am an advocate for both rescue and the
          termination of greyhound racing. I collect records, cool toys, and
          memorabilia, and am also interested in cuisine, art, film, video games,
          and music composition.
        </p>
        <p>
          This website is a place for me to chronicle my experiences as a
          developer and a person. Feel free to
          <a class="link--body" routerLink="/contact">contact me</a>.
        </p>
        <div class="img--container">
          <img
            [src]="estesImgSrc"
            class="img--full"
            title="Photo of Estes Park"
          />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  