@import "../../../../styles/mixin.scss";

.greyhound-card {
  margin-right: 12.5px;
  margin-left: 12.5px;
  margin-bottom: 10px;
  background: white;
  color: black;
  .mat-card-subtitle {
    color: #666;
  }
  @include tablet {
    margin-bottom: 20px !important;
  }
}
