@import '../../../../styles/mixin.scss';
ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

li {
    margin-left: 0px;
    padding-left: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
}