@import "../../../../styles/mixin.scss";

ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

li {
  margin-left: 0px;
  padding-left: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

mat-card.mat-card
  > mat-card-content.mat-card-content
  > ul
  > li
  > button.mat-stroked-button {
  margin: 12.5px;
}

.stackoverflow-image {
  background-image: url("/assets/img/stackoverflow.jpg");
  background-size: cover;
}

.codepen-image {
  background-image: url("/assets/img/codepen.jpg");
  background-size: cover;
}

.github-image {
  background-image: url("/assets/img/github.jpg");
  background-size: cover;
}

.linkedin-image {
  background-image: url("/assets/img/linkedin.jpg");
  background-size: cover;
}
