<div class="content">
  <h1 i18n="@@NetworksPage__Title">Networks</h1>
  <mat-card class="mat-elevation-z8 margin-bottom--card">
    <mat-card-header>
      <div mat-card-avatar class="linkedin-image"></div>
      <mat-card-title>
        LinkedIn
      </mat-card-title>
      <mat-card-subtitle>
        LinkedIn is a professional social media network
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-col-fs col-margins">
        <button
          class="btn--flex-row"
          mat-raised-button
          color="primary"
          href="https://www.linkedin.com/in/joshua-waggoner/"
          target="_blank"
        >
          <mat-icon>exit_to_app</mat-icon>&nbsp;Go to LinkedIn Profile
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z8 margin-bottom--card">
    <mat-card-header>
      <div mat-card-avatar class="github-image"></div>
      <mat-card-title>
        GitHub
      </mat-card-title>
      <mat-card-subtitle>
        GitHub is a Git repository hosting service with many of its own features
        such as such as wikis and basic task management tools.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-col-fs col-margins">
        <button
          mat-raised-button
          color="primary"
          href="https://github.com/rabbitfighter81"
          target="_blank"
        >
          <mat-icon>exit_to_app</mat-icon>&nbsp;Go to GitHub Profile
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z8 margin-bottom--card">
    <mat-card-header>
      <div mat-card-avatar class="codepen-image"></div>
      <mat-card-title>
        CodePen
      </mat-card-title>
      <mat-card-subtitle>
        At CodePen.io, they describe themselves as a “playground for the
        front-end side of the web.”
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-col-fs col-margins">
        <button
          mat-raised-button
          color="primary"
          href="https://codepen.io/rabbitfighter81/"
          target="_blank"
        >
          <mat-icon>exit_to_app</mat-icon>&nbsp;Go to CodePen Profile
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="stackoverflow-image"></div>
      <mat-card-title>
        StackOverflow & Stack Exchange
      </mat-card-title>
      <mat-card-subtitle>
        Stack Overflow is a programming Q & A site that's free to use and join.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-col-fs col-margins">
        <button
          mat-raised-button
          color="primary"
          href="https://stackoverflow.com/users/2197975/joshua-michael-waggoner"
          target="_blank"
        >
          <mat-icon>exit_to_app</mat-icon>&nbsp;Go to Stack Overflow Profile
        </button>
        <button
          mat-raised-button
          color="primary"
          href="https://stackexchange.com/users/2529368/joshua-michael-waggoner"
          target="_blank"
        >
          <mat-icon>exit_to_app</mat-icon>&nbsp;Go to Stack Exchange Profile
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
