<div class="content">
  <div class="pipeline-container">
    <h2 class="pinline"><span i18n="@@Pinline_Networks">net·works</span></h2>
  </div>

  <mat-card class="mat-elevation-z5 border-bottom-20">
    <mat-card-header>
      <div mat-card-avatar class="linkedin-image"></div>
      <mat-card-title>
        LinkedIn
      </mat-card-title>
      <mat-card-subtitle>
        LinkedIn is a professional social media network
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <button
            class="btn--flex-row"
            mat-stroked-button
            color="primary"
            href="https://www.linkedin.com/in/joshua-waggoner/"
            target="_blank"
          >
            <mat-icon>exit_to_app</mat-icon>&nbsp;Go to LinkedIn Profile
          </button>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z5 border-bottom-20">
    <mat-card-header>
      <div mat-card-avatar class="github-image"></div>
      <mat-card-title>
        GitHub
      </mat-card-title>
      <mat-card-subtitle>
        GitHub is a Git repository hosting service with many of its own features
        such as such as wikis and basic task management tools.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <button
            mat-stroked-button
            color="primary"
            href="https://github.com/rabbitfighter81"
            target="_blank"
          >
            <mat-icon>exit_to_app</mat-icon>&nbsp;Go to GitHub Profile
          </button>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z5 border-bottom-20">
    <mat-card-header>
      <div mat-card-avatar class="codepen-image"></div>
      <mat-card-title>
        CodePen
      </mat-card-title>
      <mat-card-subtitle>
        At CodePen.io, they describe themselves as a “playground for the
        front-end side of the web.”
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <button
            mat-stroked-button
            color="primary"
            href="https://codepen.io/rabbitfighter81/"
            target="_blank"
          >
            <mat-icon>exit_to_app</mat-icon>&nbsp;Go to CodePen Profile
          </button>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z5 border-bottom-20">
    <mat-card-header>
      <div mat-card-avatar class="stackoverflow-image"></div>
      <mat-card-title>
        StackOverflow & Stack Exchange
      </mat-card-title>
      <mat-card-subtitle>
        Stack Overflow is a programming Q & A site that's free to use and join.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <button
            mat-stroked-button
            color="primary"
            href="https://stackexchange.com/users/2529368/joshua-michael-waggoner"
            target="_blank"
          >
            <mat-icon>exit_to_app</mat-icon>&nbsp;Go to Stack Exchange Profile
          </button>
        </li>
        <li>
          <button
            mat-stroked-button
            color="primary"
            href="https://stackoverflow.com/users/2197975/joshua-michael-waggoner"
            target="_blank"
          >
            <mat-icon>exit_to_app</mat-icon>&nbsp;Go to Stack Overflow Profile
          </button>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>

<br />
<br />
<br />
<br />
