.stackoverflow-image {
  background-image: url('/assets/img/stackoverflow.png');
  background-size: cover;
}

.codepen-image {
  background-image: url('/assets/img/codepen.png');
  background-size: cover;
}

.github-image {
  background-image: url('/assets/img/github.png');
  background-size: cover;
}

.linkedin-image {
  background-image: url('/assets/img/linkedin.png');
  background-size: cover;
}