<div class="content">
  <app-pipeline-container [headerPinline]="'net·works'">
  </app-pipeline-container>

  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-header>
      <div mat-card-avatar class="linkedin-image"></div>
      <mat-card-title class="project-title" color="primary">
        LinkedIn
      </mat-card-title>
      <mat-card-subtitle class="project-subtitle">
        LinkedIn is a professional social media network
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
            <a href="https://www.linkedin.com/in/joshua-waggoner/" target="_blank">
              https://www.linkedin.com/in/joshua-waggoner/
            </a>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-header>
      <div mat-card-avatar class="github-image"></div>
      <mat-card-title class="project-title" color="primary">
        GitHub
      </mat-card-title>
      <mat-card-subtitle class="project-subtitle">
        GitHub is a Git repository hosting service with many of its own features such as such as wikis and basic task
        management tools.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <a href="https://github.com/rabbitfighter81" target="_blank">https://github.com/rabbitfighter81</a>
        </li>
      </ul>
      
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-header>
      <div mat-card-avatar class="codepen-image"></div>
      <mat-card-title class="project-title" color="primary">
        CodePen
      </mat-card-title>
      <mat-card-subtitle class="project-subtitle">
        At CodePen.io, they describe themselves as a “playground for the front-end side of the web.”
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <a href="https://codepen.io/rabbitfighter81/" target="_blank">https://codepen.io/rabbitfighter81/</a>
        </li>
      </ul>
      
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-header>
      <div mat-card-avatar class="stackoverflow-image"></div>
      <mat-card-title class="project-title" color="primary">
        StackOverflow & Stack Exchange
      </mat-card-title>
      <mat-card-subtitle class="project-subtitle">
        Stack Overflow is a programming Q & A site that's free to use and join.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <a href="https://stackexchange.com/users/2529368/joshua-michael-waggoner"
            target="_blank">https://stackexchange.com/users/2529368/joshua-michael-waggoner</a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/2197975/joshua-michael-waggoner"
            target="_blank">https://stackoverflow.com/users/2197975/joshua-michael-waggoner</a>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

</div>