# This file is a template, which should copy to a file called `.env`. This repo
# is already set to ignore `.env`. Make that file first in order for this
# example to work. Since it's ignored, your Git workflow should for the most
# part leave it unaffected. Don't commit sensitive info!
DISCOGS_CONSUMER_KEY=abc123
DISCOGS_CONSUMER_SECRET=xyz789
DISCOGS_CONSUMER_USERNAME=your.dumb.name
