@import '../../../styles/mixin.scss';

.header-toolbar > .link--no-style > .title {
  color: $color-white;
  font-family: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $app-title-font-size;
  text-transform: UPPERCASE;
}



