<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    aria-label="toggle sidenav button"
    matTooltip="Open the side menu"
    matTooltipShowDelay="750"
    matTooltipPosition="below"
    color="accent"
    class="btn-mat-icon margin-right-10"
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a class="link--no-style" routerLink="/">
    <h1 class="title">Joshua M. Waggoner</h1>
  </a>
  <span class="spacer"></span>

  <div class="right-side">
    <button
      mat-icon-button
      aria-label="see code button"
      matTooltip="See the project code"
      matTooltipShowDelay="750"
      matTooltipPosition="below"
      color="accent"
      class="btn-mat-icon"
      (click)="navToGitHubProject()"
    >
      <mat-icon>code</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="change language button"
      matTooltip="Change the locale"
      matTooltipShowDelay="750"
      matTooltipPosition="below"
      color="accent"
      class="btn-mat-icon"
      [matMenuTriggerFor]="languageMenu"
    >
      <mat-icon>language</mat-icon>
    </button>

    <mat-menu #languageMenu="matMenu">
      <button
        mat-menu-item
        *ngFor="let language of languageList"
        role="list-item"
        (click)="setLocale(language.code)"
      >
        {{ language.label }}
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
