<div class="content">
  <app-pipeline-container
    [headerPinline]="'wel·come'">
  </app-pipeline-container>
  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-content>
      <p>
        My name is Joshua Michael Waggoner and I am a Senior UI Developer from Denver, CoRoboto Condenseddo, soon-to-be residing in Spokane, WA in July 2019.
        My interests include JavaScript and TypeScript,
        Node, Angular 2/4/5/6/7, React, Redux, RxJs, D3, Websockets, Material Design, and CX/UX.
        I am a proud greyhound parent and am an advocate for both rescue and the termination of greyhound racing. I collect
        records, cool toys, and memorabilia, and am also interested in cuisine, art,
        film, video games, and music composition.
      </p>
      <p>This website is a place for me to chronicle my experiences as a developer and a person. Feel free to
        <a routerLink="/Contact">contact me</a>.
      </p>
      <img src="/assets/img/amadeus.png" class="img--cover">
    </mat-card-content>
  </mat-card>

</div>
