<div class="content">

  <app-pipeline-container [headerPinline]="'con·tact'">
  </app-pipeline-container>

  <mat-card class="mat-elevation-z1 scrollable card--round-border">

    <mat-card-content>
      <form [formGroup]="form">
        <!-- Email -->
        <div class="form-field-container">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="form.get('email').invalid">{{ emailErrorMessage }}</mat-error>
            <mat-hint align="end">Please enter a valid email address</mat-hint>
          </mat-form-field>
        </div>
        <!-- Name -->
        <div class="form-field-container">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter a contact name" formControlName="name" required>
            <mat-error *ngIf="form.get('name').invalid">{{ nameErrorMessage }}</mat-error>
          </mat-form-field>
        </div>
        <!-- Reason for contact -->
        <div class="form-field-container">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Reason for message" formControlName="reason">
              <mat-option value="professional">Professional</mat-option>
              <mat-option value="personal">Personal</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('reason').invalid">{{ reasonErrorMessage }}</mat-error>
          </mat-form-field>
        </div>
        <!-- Message -->
        <div class="form-field-container">
          <mat-form-field appearance="outline">
            <textarea matInput placeholder="Textarea" formControlName="message" rows="12"></textarea>
          </mat-form-field>
        </div>
      </form>
      <button mat-raised-button color="primary" [disabled]="form.invalid">Send
        <mat-icon>email</mat-icon>
      </button>
      <br><br><br><br>
    </mat-card-content>
  </mat-card>

</div>
