<div class="content">
  <h1 i18n="@@GreyhoundDetail__Title_GreyhoundDetails">Greyhound Details</h1>
  <mat-card class="mat-elevation-z8" *ngIf="greyhound && image">
    <app-table-greyhound [greyhound]="greyhound"></app-table-greyhound>
    <br />
    <img
      class="image--greyhound-detail"
      src="assets/img/{{ image }}"
      alt="Photo of {{ image }}"
    />
  </mat-card>

  <mat-card class="mat-elevation-z8" *ngIf="!greyhound && image">
    <mat-card-content class="center">
      Greyhound not found
    </mat-card-content>
  </mat-card>
</div>
