<div class="content">
  <h1 i18n="@@DiscogsPage__Title">Discogs</h1>
  <mat-card>
    <app-record-card *ngFor="let record of records" [record]="record">
    </app-record-card>

    <mat-paginator
      class="paginator--centered"
      *ngIf="totalRecords"
      [length]="totalRecords"
      [pageSize]="pageSize"
      [pageIndex]="0"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true"
      (page)="setPagination($event)"
    >
    </mat-paginator>
  </mat-card>
</div>
