<div class="content">
  <app-pipeline-container
    [headerPinline]="'ac·tiv·ism'">
  </app-pipeline-container>

  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-header>
      <div mat-card-avatar class="greyhound-image"></div>
      <mat-card-title class="project-title" color="primary">
        Greyhounds
      </mat-card-title>
      <mat-card-subtitle class="project-subtitle">
        I am a strong advocate of greyhound adoption
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I love these dogs because so many of them come from tragic environments, and are sometimes unruly at first,
        making them an unlikely choice for many families and individuals. But with time, triaing, and love, these dogs can become virtual couch
        potatoes that will love you until you or they die, and that unless we rescue them, they could be alone, unhappy, or even worse could be sent to a kill shelter.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-header>
      <div mat-card-avatar class="lgbtq-image"></div>
      <mat-card-title class="project-title" color="primary">
        LGBTQ Rights
      </mat-card-title>
      <mat-card-subtitle class="project-subtitle">
        I am a proud supporter of all LGBTQ people and all people in general
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I have felt strongly about this my entire life.
        I am openly queer and I had an easy coming out because of the support of family and friends but I know that it is not as easy for others, so in addition to
        being a supporter of equal rights, I also feel like I need to take every step I can towards making people of all kinds feel accepted, legitimate, and heard.
        With te current socio-political landscape I think now more than ever is the time to stand up for this cause.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-header>
      <div mat-card-avatar class="government-image"></div>
      <mat-card-title class="project-title" color="primary">
        Political Involvement
      </mat-card-title>
      <mat-card-subtitle class="project-subtitle">
        Why do people not vote? Why do people not coalesce to get things done? We need involvement!
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I believe that it is every American's duty to participate and care for the one thing that separates us from being a Banana Republic: The Constitution, and playing a part in our experiment in free market democracy requires all people to participate to truly be effective and representative.
        Reaching 100% involvement at all levels is ideal but asking more of people is not. Regardless of party, candidate, or other affiliation, playing a part in our electoral
        and civic processes shuold be considered the norm, not just half or less than the population. I do what I can to reach out to voters and I do what I can for my city, state, and country.
        I believe we should leave the world in a better place than the previous generation left us. Whatever it is you do, get involved at some level.
      </p>
    </mat-card-content>
  </mat-card>

</div>

