<div class="content">
  <app-pipeline-container
    [headerPinline]="'ac·tiv·ism'">
  </app-pipeline-container>

  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-header>
      <div mat-card-avatar class="greyhound-image"></div>
      <mat-card-title class="project-title" color="primary">
        Greyhounds
      </mat-card-title>
      <mat-card-subtitle class="project-subtitle">
        I am a strong advocate of greyhound adoption
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
          I love these dogs because so many of them come from tragic environments, and are sometimes unruly at first,
          making them an unlikely choice for many families and individuals. But with time, triaing, and love, these dogs can become virtual couch
          potatoes that will love you until you or they die, and that unless we rescue them, they could be alone, unhappy, or even worse could be sent to a kill shelter.
        </p>
      </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z1 card--round-border">
      <mat-card-header>
        <div mat-card-avatar class="lgbtq-image"></div>
        <mat-card-title class="project-title" color="primary">
          LGBTQ Rights
        </mat-card-title>
        <mat-card-subtitle class="project-subtitle">
          I am a proud supporter of equal rights for all LGBTQ people and have felt strongly about this my entire life.
          I am openly queer and I had an easy coming out because of the support of family and friends but I know that it is not as easy for others, so in addition to 
          being a supporter of equal rights, I also feel like I need to take every step I can towards making people of all kinds feel accepted, legitimate, and heard. 
          With te current socio-political landscape I think now more than ever is the time to stand up for this cause. 
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
            I love these dogs because so many of them come from tragic environments, and are sometimes unruly at first,
            making them an unlikely choice for many families and individuals. But with time, triaing, and love, these dogs can become virtual couch
            potatoes that will love you until you or they die, and that unless we rescue them, they could be alone, unhappy, or even worse could be sent to a kill shelter.
          </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z1 card--round-border">
        <mat-card-header>
          <div mat-card-avatar class="greyhound-image"></div>
          <mat-card-title class="project-title" color="primary">
            Greyhounds
          </mat-card-title>
          <mat-card-subtitle class="project-subtitle">
            I am a strong advocate of greyhound adoption
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              I love these dogs because so many of them come from tragic environments, and are sometimes unruly at first,
              making them an unlikely choice for many families and individuals. But with time, triaing, and love, these dogs can become virtual couch
              potatoes that will love you until you or they die, and that unless we rescue them, they could be alone, unhappy, or even worse could be sent to a kill shelter.
            </p>
          </mat-card-content>
      </mat-card>

</div>

