/** App Variables **/

$soft-black: #303030;
$periwinkle: #D0E1F9;
$deep-sky-blue: #00BFFF;
$electric-yellow: #ff3;
$app-purple: #9c27b0;
$green:#90EE90;

$app-small-font: 12px;
$app-med-small-font-size: 16px;
$app-medium-font: 18px;
$app-large-font: 22px;
