/** App Variables **/

// Colors
$color-deep-sky-blue: deepskyblue;
$color-electric-yellow: #ff3;
$color-dark-grey: #333;
$color-white: #fff;

// Font sizes (WIP)
$app-small-font: 12px;
$app-medium-font: 22px;
$app-title-font: 'Oswald';
$app-header-font: 'Roboto Condensed';

$app-header-font-size: 28px;

// Body
$app-body-line-height: 1.5rem;
$app-body-font-weight: 300;
$app-body-size: 16px;

$border-bottom-20: 20px;
