@import './theme';
@import './mixin';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500');

* {
  outline: none;
}

html {
  font-family: $font-family-lato;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: $font-family-oswald;
}

p,
li {
  font-size: $app-font-size-small;
  line-height: 1.8rem;
}

li {
  margin-bottom: 1rem;
}

li:nth-last-child {
  margin-bottom: 0;
}

.full-image {
  margin: auto;
  width: 100%;
}

.img--center {
  margin: auto;
}

.img--container > img {
  width: 100%;
}

.center {
  text-align: center;
}

.mat-toolbar .title {
  font-family: $font-family-oswald;
  color: white;
}

.touchable {
  cursor: pointer;
  outline: none;
}

.form-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field-container > * {
  width: 100%;
}

a.link--no-style {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a.link--body {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: $color-deep-sky-blue;
}

a.link--toolbar {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: $color-electric-yellow;
}

.button--margin {
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.col-margins > button:not(:last-child) {
  margin-bottom: 1rem;
}

.container {
  padding: 1rem;
}

.flex-col-fs {
  @include flex-col-fs();
}

.flex-row-fs {
  @include flex-row-fs();
}

.future-image {
  background-image: url('/assets/img/crystal-ball.jpg');
  background-size: cover;
}

.img--full {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.line-through {
  text-decoration: line-through;
}

.mat-card.card--no-logo > .mat-card-header > .mat-card-header-text {
  margin: 0;
}

.margin-bottom--card {
  margin-bottom: 1rem;
}

.mat-icon-button.margin-6 {
  margin: 6px;
}

.mat-sidenav-container {
  margin-top: 64px;
  min-height: calc(100vh - 64px);
  margin-bottom: 64px;
  @include tablet {
    margin-top: 56px;
    min-height: calc(100vh - 56px);
    margin-bottom: 56px;
  }
}

.mat-paginator.paginator--centered {
  display: flex;
  justify-content: center;
}

.nav-item,
.nav-item-active {
  color: $color-electric-yellow;
  outline: none;
  cursor: pointer;
}

.personal-image {
  background-image: url('/assets/img/me.jpg');
  background-size: cover;
}

.spacer {
  flex: 1 0 0;
}

.toolbar-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0px;
  color: white;
  font-size: 1rem;
  z-index: 10;
}

.toolbar-header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px;
  z-index: 10;
}
