<mat-card class="record-card mat-elevatrion-z8">
  <mat-card-header>
    <mat-card-title>Title</mat-card-title>
    <mat-card-subtitle>
      Record Title
    </mat-card-subtitle>
    <mat-card-subtitle>
      Record SubTitle
    </mat-card-subtitle>
  </mat-card-header>
  <!-- img -->
  <mat-card-content>
    <p>
      Description
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      class="btn--flex-row"
      color="primary"
      type="button"
      role="button"
      (click)="setRecordDetail('bread')"
      aria-label="Greyhound Detail Button"
    > <!-- TODO: Test -->
      <mat-icon>album</mat-icon>&nbsp;DETAILS
    </button>
  </mat-card-actions>
</mat-card>
