<mat-sidenav-container class="example-container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose mode="push">
    <div class="flex-row-justify-start-align-start">
      <div class="flex-col">
       <app-nav-main></app-nav-main>
      </div>
      <div class="flex-col">
        <button
          id="btn-close-nav"
          mat-icon-button
          (click)="close()" 
          matTooltip="Closes the sidenav"
          [matTooltipPosition]="'before'"
          [matTooltipShowDelay]="750"
          aria-label="Button that displays a tooltip that can be programatically disabled">
          <mat-icon color="primary">close</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar-main (toggle)="toggleSidenav()"></app-toolbar-main>
    <router-outlet></router-outlet>
    <app-toolbar-footer></app-toolbar-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
