<app-header (toggle)="toggleSidenav()"></app-header>
<mat-sidenav-container
  class="example-container"
  (backdropClick)="closeSidenav()"
>
  <mat-sidenav
    #sidenav
    (keydown.escape)="closeSidenav()"
    disableClose
    mode="push"
  >
    <div class="flex-row-fs">
      <app-nav (linkSelected)="closeSidenav()"></app-nav>
      <button
        class="margin-6"
        mat-icon-button
        (click)="closeSidenav()"
        type="button"
        aria-label="Button that dcloses the sidenav"
      >
        <mat-icon color="primary">close</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
