@import '../../styles/mixin.scss';

/*

.mat-sidenav-container > .mat-sidenav {
  background: $color-toolbar-bg;
}

.mat-drawer-container {
  background: $color-body-bg;
  color: $color-white;
  margin-top: 56px;
  margin-bottom: 56px;
}

.mat-drawer-content {
  overflow: hidden;
}

#btn-toggle-nav {
  margin-right: 10px;
  .mat-icon {
    color: $color-white; // TODO
  }
}

#btn-close-nav {
  margin: 10px;
  .mat-icon {
    color: $color-white;
  }
}

*/
