@import '../../styles/mixin.scss';

#btn-close-nav {
  margin: 10px;
  .mat-icon {
    color: white;
  }
}

.nav-item {
  font-family: 'Roboto Condensed';
  outline: none;
  &:hover {
    color: $electric-blue;
  }
  &:active {
    color: $electric-blue;
  }
  cursor: pointer;
}

.nav-item-active {
  color: $electric-blue;
}

.mat-sidenav-content {
  background: white;
  color: black;
  height: 100vh;
}