<mat-card class="mat-elevation-z8 margin-bottom--card card--no-logo" *ngIf="greyhound">
  <mat-card-header>
    <mat-card-title>{{ greyhound.name }}</mat-card-title>
    <mat-card-subtitle *ngIf="greyhound.passed">
      ({{ greyhound.born | date: 'mediumDate' }} -
      {{ greyhound.passed | date: 'mediumDate' }})
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="!greyhound.passed">
      ({{ greyhound.born | date: 'mediumDate' }} - Present)
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="assets/img/{{ greyhound.image }}"
    alt="Photo of {{ greyhound.name }}"
  />
  <mat-card-content>
    <p *ngFor="let description of greyhound.descriptions">
      {{ description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="button--margin">
      <button
        mat-raised-button
        color="primary"
        type="button"
        role="button"
        (click)="setGreyhoundDetail(greyhound.route)"
        aria-label="Greyhound Detail Button"
      >
        <mat-icon>pets</mat-icon>&nbsp;DETAILS
      </button>
    </div>
  </mat-card-actions>
</mat-card>
