@import '../../../../styles/mixin.scss';

div.table--greyound
  > mat-list.mat-list
  > mat-list-item.mat-list-item:nth-child(odd) {
  background: #fdfdfd;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 13px;
  font-size: $app-header-font-size;
}

.bold {
  font-weight: 500;
  color: #333;
}

.table--greyound > .compact-list > .mat-list-item {
  margin-bottom: 0px;
}

mat-list.list--compact > mat-list-item.mat-list-item {
  height: 1.65rem !important;
  font-size: $app-header-font-size-mobile;
}
