<div class="table--greyound" *ngIf="greyhound">
  <h2>
    <mat-icon>assessment</mat-icon>&nbsp;Facts for
    {{ greyhound.name }}
  </h2>
  <mat-list class="list--compact">
    <mat-list-item>
      Color:&nbsp;<span class="bold">{{ greyhound.color }}</span>
    </mat-list-item>
    <mat-list-item>
      Sex:&nbsp;
      <span class="bold"
        >{{ greyhound.sex }}
        <span *ngIf="greyhound.sex === 'Male'">&#9794;</span>
        <span *ngIf="greyhound.sex === 'Female'">&#9792;</span>
      </span>
    </mat-list-item>
    <mat-list-item>
      Earmark:&nbsp;<span class="bold">{{ greyhound.earmark }}</span>
    </mat-list-item>
    <mat-list-item>
      Born:&nbsp;<span class="bold">{{
        greyhound.born | date: 'mediumDate'
      }}</span>
    </mat-list-item>
    <mat-list-item *ngIf="greyhound.passed">
      Passed:&nbsp;<span class="bold">{{
        greyhound.passed | date: 'mediumDate'
      }}</span>
    </mat-list-item>
    <mat-list-item>
      Pounds:&nbsp;<span class="bold">{{ greyhound.lbs }}</span>
    </mat-list-item>
    <mat-list-item>
      Kilograms:&nbsp;<span class="bold">{{ greyhound.kg }}</span>
    </mat-list-item>
    <mat-list-item>
      Country:&nbsp;<span class="bold">{{ greyhound.land }}</span>
    </mat-list-item>
    <mat-list-item *ngFor="let owner of greyhound.racingowners; let i = index">
      Racing Owner:&nbsp;<span class="bold">{{ owner }}</span>
    </mat-list-item>
  </mat-list>
</div>
