<mat-list *ngIf="greyhound">
  <mat-list-item>
    Name: <span class="bold">{{ greyhound.name }}</span>
  </mat-list-item>
  <mat-list-item>
    Color: <span class="bold">{{ greyhound.color }}</span>
  </mat-list-item>
  <mat-list-item>
    Sex: <span class="bold">{{ greyhound.sex }}</span>
  </mat-list-item>
  <mat-list-item>
    Earmark: <span class="bold">{{ greyhound.earmark }}</span>
  </mat-list-item>
  <mat-list-item>
    Born: <span class="bold">{{ greyhound.born | date: "mediumDate" }}</span>
  </mat-list-item>
  <mat-list-item *ngIf="greyhound.passed !== null">
    Passed: <span class="bold">{{ greyhound.passed | date: "mediumDate" }}</span>
  </mat-list-item>
  <mat-list-item>
    Lbs: <span class="bold">{{ greyhound.lbs }}</span>
  </mat-list-item>
  <mat-list-item>
    Kg: <span class="bold">{{ greyhound.kg }}</span>
  </mat-list-item>
  <mat-list-item>
    Country: <span class="bold">{{ greyhound.land }}</span>
  </mat-list-item>
  <mat-list-item *ngFor="let owner of greyhound.racingowners; let i = index;">
    Racing owner: <span class="bold">{{ owner }}</span>
  </mat-list-item>
</mat-list>
