<div class="content">
  <div class="pipeline-container">
    <h2 class="pinline"><span i18n="@@Pinline_Resume">re·sume</span></h2>
  </div>

  <mat-card class="resume-content mat-elevation-z8 border-bottom-20">
    <mat-card-header>
      <div mat-card-avatar class="personal-image"></div>
      <mat-card-title>
        Joshua Michael Waggoner - UI Developer
      </mat-card-title>
      <mat-card-subtitle>
        Parker, CO USA | <a href="tel:1-720-415-5732">+1 (720) 415-5732</a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I am a conscientious and resourceful UI developer with a can-do
        attitude, and an eye for design, who can assess an organization’s needs
        and work to create complementary and robust web and mobile applications.
        I believe firmly in DRY (Don’t Repeat Yourself) and KISS (Keep It Simple
        Stupid) principles. I always strive to compose potent, reusable, and
        minimalist code, while implementing practical design patterns.
      </p>
      <p>
        With experience in both legacy and greenfield code-bases, I have strong
        knowledge in the following areas of web development:
      </p>
      <ul>
        <li>Information Gathering</li>
        <li>Planning</li>
        <li>Design</li>
        <li>Research</li>
        <li>Project Architecture</li>
        <li>Development</li>
        <li>Optimization</li>
        <li>Testing</li>
        <li>Usability studies</li>
        <li>Maintenance</li>
      </ul>
      <p>
        In general, I am a self-driven Senior UI Developer who is proficient in
        a wide array of full-stack web tools, with an entrepreneurial spirit. I
        don’t shy away from challenges and I am humble enough to know that I can
        always improve, write better code, and do greater things than I did the
        day before.
      </p>
      <p>
        I am very much experience with JavaScript, TypeScript and Node. In my
        day-to-day, I use Node frameworks like Angular, RxJs, NgRx Store,
        React/Redux, and Lodash. I have worked less with, but have worked with
        React, D3, Meteor, and Express.
      </p>
      <p>
        Other frameworks I want to learn more about are Elm, Vue, and Ionic.
      </p>
      <p>
        I believe in the power, flexibility, and zeitgeist of the current
        JavaScript ecosystem, and find it to be the most flexible language for
        web development.
      </p>
      <p>
        In addition to JavaScript/HTML/CSS proficiency, I possess a good
        understanding of HTTP, know how APIs work, as well as how to use Web
        Sockets in a UI. I am able to work effectively with back-end developers
        to communicate the needs of the front-end. I’ve had the opportunity to
        collaborate in API design with some very bright people. I am skilled
        with using data structures to keep track of data in an application’s
        state and with using that data to hydrate UI components with valuable
        content that drives relevant and innovative software.
      </p>
      <p>
        I have served primarily on Agile teams where I worked closely with a
        wide range of API designers, QA, UX/CX, Designers, Product Owners,
        Product Managers and user study participants to create UIs that pop and
        meet business requirements.
      </p>
      <p>
        I am a good team player and have a strong understanding of software
        development processes, as well as team workflow tools, such as Git,
        Trello and Jira. I understand and have implemented Git Flow and have
        trained teams to use continuous integration (CI) methods and procedures
        for increased productivity and overall project hygiene. I am able to
        effectively work remotely because I am a good communicator and am self
        driven, honest, and delivery focused.
      </p>
      <p>
        I have a traditional background in computer science, math, and computer
        hardware. On this path I have studied topics, such as data structures,
        computer security, discrete math, logic, functional programming, and
        algorithms.
      </p>
      <p>
        Before becoming interested in Front End development, I worked with Java,
        dabbled in Android development, and even have a well performing anagram
        finder called Word Sleuth, available on the Google Play© store.
      </p>
      <p>
        I have as much to offer as I do to learn, and also recognize that it is
        important to do both on a daily basis. I am not ego-driven; I believe in
        empowering people. I am a capable engineer who aims to deliver next
        generation web features on time and on budget. I work well in teams and
        am a friendly and outgoing person who is highly accessible and a good
        interpersonal communicator.
      </p>
      <p>
        Other things that metter to me are Greyhound advocacy, reading, board
        games, and spending time with my wonderful partner who earned her PhD at
        age 27 and is now a department chair and full professor at Gonzaga
        University as well as an award winning researcher and author. I also
        play multiple instruments and am a composer and producer of original
        music and remixes.
      </p>
    </mat-card-content>

    <br />
    <hr />
    <br />

    <h2>Technical Skills</h2>
    <br />
    <mat-card-content>
      <h3>Languages</h3>
      <p>
        I and am highly effective with and have a high proficiency in
        <a
          class="link--body"
          href="https://en.wikipedia.org/wiki/JavaScript"
          target="_blank"
          >JavaScript</a
        >,
        <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>
        (my favorite language to work with),
        <a
          class="link--body"
          href="https://en.wikipedia.org/wiki/HTML"
          target="_blank"
          >HTML5</a
        >, and CSS,
        <a class="link--body" href="https://sass-lang.com/" target="_blank"
          >SASS</a
        >, and
        <a
          class="link--body"
          href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
          target="_blank"
          >Markdown</a
        >. I am also versed with
        <a class="link--body" href="https://jquery.com/" target="_blank"
          >jQuery</a
        >,
        <a
          class="link--body"
          href="https://www.oracle.com/java/"
          target="_blank"
          >Java</a
        >,
        <a
          class="link--body"
          href="https://docs.microsoft.com/en-us/dotnet/csharp/"
          target="_blank"
          >C#</a
        >.
      </p>
      <h3>Databases</h3>
      <p>MongoDB, MySQL, and PostgreSQL.</p>
      <h3>Frameworks:</h3>
      <p>
        <a class="link--body" href="https://angular.io/" target="_blank"
          >Angular</a
        >
        (v2-v8),
        <a
          class="link--body"
          href="https://material.angular.io/"
          target="_blank"
          >Angular Material</a
        >, <a href="http://reactivex.io/" target="_blank">RxJs</a>,
        <a class="link--body" href="https://ngrx.io/" target="_blank">NgRx</a>
        (Redux), Webpack,
        <a class="link--body" href="https://ionicframework.com/" target="_blank"
          >Ionic</a
        >, React, Vue, Elm, Gulp, Express and Meteor
      </p>
      <h3>Testing</h3>
      <p>
        I can work in a true TDD (Test Driven Development) environment or in
        isolation. I also have a wide range of experience with unit tests, and
        end-to-end/integration testing using a wide variety of platforms such as
        Mocha, Jasmine, Protractor, Test-Bed, and JUnit.
      </p>
      <h3>Workflow</h3>
      <p>
        Agile, KanBan, Git, Continuous Integration , Jenkins, Docker, Trello,
        Clubhouse, and Jira. I can also help cure teams of
        <a
          class="link--body"
          href="https://en.wikipedia.org/wiki/Wikipedia:Articles_for_deletion/Wagile_software_development"
          target="_blank"
          >Wagile</a
        >
        ways,
      </p>
      <h3>Developer Tools</h3>
      <p>
        Passionate full-time *nix user for 10+ years, with developing software
        in environments such as OSX, Windows, Arch Linux, Linux Mint, Debian,
        and Ubuntu, however I can use Windows if need be. I also know how to use
        tools like Vim, Bash, and text editors to enhance workflow and
        productivity. My favorite editor is VSCode.
      </p>
      <h3>Additional Web Tools</h3>
      <p>AJAX, JSON, REST, Web Sockets, XML, TCP, HTTP.</p>
    </mat-card-content>

    <br />
    <hr />
    <br />

    <h2>Experience</h2>
    <br />
    <mat-card-header>
      <div mat-card-avatar class="turncommerce-header-image"></div>
      <mat-card-title>
        Turn Commerce - Denver, CO (July 2018 - Present)</mat-card-title
      >
      <mat-card-subtitle>
        Senior UI Developer
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          Training and education of other team members to use best practices,
          participate in code reviews, and encourage pair programming as
          training.
        </li>
        <li>
          Work on high level architectural decisions, such as library choices,
          internationalization, component libraries, and researching cutting
          edge tools to achieve business requirements.
        </li>
        <li>
          Interviewing and participation in new hire positions, as well as
          general direction of our organization and future web applications.
        </li>
        <li>
          Continue in my capacity of developing feature work to release new
          software and meet business, technical, and visual requirements.
        </li>
      </ul>
    </mat-card-content>

    <br />

    <mat-card-header>
      <div mat-card-avatar class="turncommerce-header-image"></div>
      <mat-card-title>
        Turn Commerce - Denver, CO (July 2017 - July 2018)</mat-card-title
      >
      <mat-card-subtitle>
        UI Developer
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          Developing feature work using Angular 4/5/6/7 using TypeScript, NgRx
          Store (Redux), RxJS, Web Sockets, Angular Material, and SASS.
        </li>
        <li>
          Architecture and engineering of highly complex UIs to support Turn
          Commerce‘s various domain auction and sales platforms using modern
          JavaScript tools.
        </li>
        <li>
          Participating with design and User Experience solutions and decision
          making to meet our customers’ current needs.
        </li>
        <li>
          Helping to transition a company with no dedicated UI developers to
          having a staffed UI department with an efficient workflow and a
          unified vision. This includes a productive output that meets our
          growing requirements.
        </li>
      </ul>
    </mat-card-content>

    <br />

    <mat-card-header>
      <div mat-card-avatar class="clickfox-header-image"></div>
      <mat-card-title>
        ClickFox — Denver, CO (Nov 2016 - May 2017)</mat-card-title
      >
      <mat-card-subtitle>
        UI Developer
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          I worked with an amazing team of UI architects/developers, graphic
          artists, project managers, and UX designers to create highly engaging,
          feature-rich front-end projects for ClickFox’s Journey Science SaaS
          (Sales As A Service) applications. In my day-to-day, I used
          TypeScript, JavaScript, Angular 2, SASS, Redux, Gulp, and RxJS to
          develop ClickFox’s flagship application suite titled “Fox”.
        </li>
        <li>
          Development of new features and components for the UI based on a
          defined acceptance criteria and writing any accompanying unit tests,
          integration tests, or end-to end tests that were necessary. All work
          went through a peer code review process before being introduced into
          the build.
        </li>
        <li>
          Experience with Docker build and deployment.
        </li>
        <li>
          Worked in an Agile methodology that involved constantly re-assessing
          and improving ourselves in weekly retro meetings based on our
          iteration. We performed daily scrums, and used either continuous
          delivery or JIT (Just In Time) delivery methods to release new
          features, make patches, and push updates.
        </li>
        <li>
          I managed a team of offshore developers and testers to address the
          defect backlog for our project using a Kanban methodology of pulling
          from the top of the backlog and utilizing different programmer’s
          individual strengths to reduce the amount of defects in the most
          timely -- and priority based -- order.
        </li>
        <li>
          Practiced with true TDD and Pair programming on a daily basis. I am
          comfortable with a “red light, green light, refactor” workflow.
        </li>
        <li>
          Experience working directly with Quality Assurance (QA) department
          while delivering new features, fixing defects and bugs, and making
          sure builds and tests are passing.
        </li>
        <li>
          Attended conferences such as NG-CONF 2017 to gain knowledge about
          emerging technologies, best practices, and various new ideas in order
          to bring that knowledge back to our team and evolve with the
          landscape.
        </li>
      </ul>
    </mat-card-content>

    <br />

    <mat-card-header>
      <div mat-card-avatar class="fe-header-image"></div>
      <mat-card-title>
        Fantasy Empire LLC — Denver, CO (May 2015 - May 2016)
      </mat-card-title>
      <mat-card-subtitle>
        Junior UI Developer | Co-Founder
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          Co-developed a vibrant JavaScript front-end for a fantasy sports
          website using Node and React to create a first-class fantasy sports
          web application.
        </li>
        <li>
          Worked with a UX/Design team to implement a UI that utilized usability
          tests and best practices to achieve an easy to understand yet complex
          front-end.
        </li>
        <li>
          I participated in planning of the application, user experience (UX),
          financial planning, and general direction and decision making.
        </li>
        <li>
          Wrote comprehensive unit testing for the front-end, as well as
          extensive documentation (using JavaDoc, GrailsDoc, and Markdown) and
          testing for a Groovy/Grails back-end.
        </li>
        <li>
          Developed strong refactoring skills as our product evolved from using
          jQuery/AJAX with no frameworks, to a React front-end using many NPM
          modules.
        </li>
      </ul>
    </mat-card-content>

    <br />

    <mat-card-header>
      <div mat-card-avatar class="rt-header-image"></div>
      <mat-card-title>
        Reality Technology LLC — Denver, CO (Jan 2014 - July 2014)
      </mat-card-title>
      <mat-card-subtitle>
        Junior Developer Internship
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          Developed legacy software for both government and enterprise using
          Java, Struts, JavaScript, and CSS to enhance functionality and create
          testable and up-to-date code.
        </li>
        <li>
          Performed research and led efforts to create testing frameworks on
          large Java applications using JRuby test suites.
        </li>
        <li>
          Performed unit testing and e2e testing on several large enterprise
          applications.
        </li>
      </ul>
    </mat-card-content>

    <br />
    <hr />
    <br />

    <h2>Personal References</h2>
    <br />

    <mat-card-header>
      <mat-card-subtitle>
        People who I habe worked with in the past who can vouch for my
        performance and attitude
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          Fred Montoya (Former Colleague at MSU) - fredmontoya22@gmail.com
        </li>
        <li>
          Denise Hale (Former UI Architect at ClickFox) - denise@halehome.com
        </li>
        <li>
          Rafael Polniak (Former UX Designer at Fantasy Empire) -
          raphael@rgfx.com
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
