.turncommerce-header-image {
  background-image: url("/assets/img/turncommerce.jpg");
  background-size: cover;
}

.rt-header-image {
  background-image: url("/assets/img/rt.jpg");
  background-size: cover;
}

.clickfox-header-image {
  background-image: url("/assets/img/clickfox.jpg");
  background-size: contain;
}

.fe-header-image {
  background-image: url("/assets/img/me.jpg");
  background-size: cover;
}
