@import '../../styles/mixin';

.toolbar-nav {
  width: 100%;
  margin: 0px;
  background-color: white;
}

.toolbar-nav.opened {
  margin-left: 10px;
  height: auto;
}

.nav-item {
  line-height: 15px;
  padding: 5px;
  color: #333;
  font-size: 15px;
  font-family: 'Roboto Condensed';
  outline: none !important;
  margin: 5px;
  &:hover {
    color: #f1453d;
  }
  &:active {
    color: #f1453d;
  }
  cursor: pointer;
}

.nav-item-active {
  color: #f1453d;
}
