<mat-list>
  <mat-list-item
    aria-label="navigation item"
    class="nav-item"
    routerLinkActive="nav-item-active"
    routerLink="/home"
    (click)="selected('home')"
  >
    <p class="nav-item" i18n="@@NavComponent_NavLink_Home">Home</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="nav-item"
    routerLinkActive="nav-item-active"
    routerLink="/resume"
    (click)="selected('resume')"
  >
    <p class="nav-item" i18n="@@NavComponent_NavLink_Resume">Resume</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="nav-item"
    routerLinkActive="nav-item-active"
    routerLink="/projects"
    (click)="selected('projects')"
  >
    <p class="nav-item" i18n="@@NavComponent_NavLink_Projects">Projects</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class=""
    routerLinkActive="nav-item-active"
    routerLink="/networks"
    (click)="selected('networks')"
  >
    <p class="nav-item" i18n="@@NavComponent_NavLink_Networks">Networks</p>
  </mat-list-item>

  <!-- TODO: Figure this out<mat-list-item
    aria-label="navigation item"
    class="nav-item"
    routerLinkActive="nav-item-active"
    routerLink="/resources"
    (click)="selected('resources')"
    disabled
  >
    <p class="nav-item" i18n="@@NavComponent_NavLink_Resources">Resources</p>
  </mat-list-item>-->

  <mat-list-item
    aria-label="navigation item"
    class="nav-item"
    routerLinkActive="nav-item-active"
    routerLink="/greyhounds"
    (click)="selected('greyhounds')"
  >
    <p class="nav-item" i18n="@@NavComponent_NavLink_Greyhounds">Greyhounds</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="nav-item"
    routerLinkActive="nav-item-active"
    routerLink="/discogs"
    (click)="selected('discogs')"
  >
    <p class="nav-item" i18n="@@NavComponent_NavLink_Discogs">Discogs</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="nav-item"
    routerLinkActive="nav-item-active"
    routerLink="/contact"
    (click)="selected('contact')"
  >
    <p class="nav-item" i18n="@@NavComponent_NavLink_Contact">Contact</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="nav-item"
    routerLinkActive="nav-item-active"
    routerLink="/about"
    (click)="selected('about')"
  >
    <p class="nav-item" i18n="@@NavComponent_NavLink_About">About</p>
  </mat-list-item>
</mat-list>

<!--
<mat-nav-list>
  <mat-list-item *ngFor="let item of navItems">
     <a matLine routerLink="/{{ item.link }}">{{ item.display }}</a>
     <button mat-icon-button (click)="selected(item.link)"">
        <mat-icon>info</mat-icon>
     </button>
  </mat-list-item>
</mat-nav-list>
-->
