<mat-list>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/About"
    (click)="selected('About')">
    <p class="nav-item" i18n="@@Nav_Link_About">About</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/Resume"
    (click)="selected('About')">
    <p class="nav-item" i18n="@@Nav_Link_Resume">Resume</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/Projects"
    (click)="selected('About')">
    <p class="nav-item" i18n="@@Nav_Link_Projects">Projects</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/Networks"
    (click)="selected('About')">
    <p class="nav-item" i18n="@@Nav_Link_Networks">Networks</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/Greyhounds"
    (click)="selected('About')">
    <p class="nav-item" i18n="@@Nav_Link_Greyhounds">Greyhounds</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/Contact"
    (click)="selected('About')">
    <p class="nav-item" i18n="@@Nav_Link_Contact">Contact</p>
  </mat-list-item>

</mat-list>