<mat-list>
  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/about"
    (click)="selected('about')"
  >
    <p class="nav-item" i18n="@@Nav_Link_About">About</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/resume"
    (click)="selected('resume')"
  >
    <p class="nav-item" i18n="@@Nav_Link_Resume">Resume</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/projects"
    (click)="selected('projects')"
  >
    <p class="nav-item" i18n="@@Nav_Link_Projects">Projects</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/networks"
    (click)="selected('networks')"
  >
    <p class="nav-item" i18n="@@Nav_Link_Networks">Networks</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/greyhounds"
    (click)="selected('greyhounds')"
  >
    <p class="nav-item" i18n="@@Nav_Link_Greyhounds">Greyhounds</p>
  </mat-list-item>

  <mat-list-item
    aria-label="navigation item"
    class="touchable"
    routerLinkActive="nav-item-active"
    routerLink="/contact"
    (click)="selected('contact')"
  >
    <p class="nav-item" i18n="@@Nav_Link_Contact">Contact</p>
  </mat-list-item>
</mat-list>

<!--
<mat-nav-list>
  <mat-list-item *ngFor="let item of navItems">
     <a matLine routerLink="/{{ item.link }}">{{ item.display }}</a>
     <button mat-icon-button (click)="selected(item.link)"">
        <mat-icon>info</mat-icon>
     </button>
  </mat-list-item>
</mat-nav-list>
-->
