<div class="content">
  <div class="pipeline-container">
    <h2 class="pinline">
      <span i18n="@@Pinline_Greyhounds">grey·hounds</span>
    </h2>
  </div>

  <mat-card class="mat-elevation-z5 border-bottom-20">
    <mat-card-header>
      <mat-card-title>
        Greyhound Rescue
      </mat-card-title>
      <mat-card-subtitle>
        We are strong advocates of Greyhound Adoption
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container--adoption">
      <p>
        My family and I have a lot of love for greyhounds, not only because they
        are such wonderful dogs, but also because unfortunately, many of them
        experience abuse and trauma if they are are coming off the racing track.
        After leaving life on the track they are in immediate need of a home,
        love, stability, and patience. Many of these poor dogs come with a range
        of problems like worms, malnutrition, drug use, PTSD, and severe anxiety
        - all ranging from mild to extreme on a case by case basis.
      </p>
      <p>
        Rescuing these dogs, who are so loveable, sweet, and kind, from kill
        shelters, or death from neglect and abuse, is so important that we have
        taken it up as a family cause. We plan on adopting and fostering
        greyhounds for the rest of our lives because they teaches us more about
        love, patience, and trust that we could ever learn from another human.
        Despite the challenges and hardships they have experienced these dogs
        love unconditionally. They become your shadow, they make great bedtime
        snuggle buddies, and intuitively they will pick you up when you are
        down, be with you when you are happy, and lick up all the food you drop
        on the floor. Greyhounds also love to sleep and can be characterized as
        couch potatoes.
      </p>
      <p>
        For now, we just have Raven, but once we get settled in Spokane, we want
        to grow our greyhound family.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z5 border-bottom-20">
    <mat-card-header>
      <mat-card-title>
        Our Rescues
      </mat-card-title>
      <mat-card-subtitle>
        These three (so far...) souls have changed our lives for the better and
        give us happiness.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container--greyhounds">
      <app-greyhound-card *ngFor="let dog of greyhounds" [greyhound]="dog">
      </app-greyhound-card>
    </mat-card-content>
  </mat-card>
</div>
