@import '../../../../styles/mixin.scss';

.container--greyhounds {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
