<div class="content">
  <app-pipeline-container [headerPinline]="'grey·hounds'">
  </app-pipeline-container>

  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-header>
      <div mat-card-avatar class="greyhound-image"></div>
      <mat-card-title class="project-title" color="primary">
        Colorado Greyhound Adoption
      </mat-card-title>
      <mat-card-subtitle class="project-subtitle">
        I am a strong advocate of greyhound adoption
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I love these dogs because so many of them come from tragic environments, and are sometimes unruly at first,
        making them an unlikely choice for many families and individuals. But with time, triaing, and love, these dogs
        can become virtual couch
        potatoes that will love you until you or they die, and that unless we rescue them, they could be alone, unhappy,
        or even worse could be sent to a kill shelter.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z1 card--round-border">
    <mat-card-header>
      <div mat-card-avatar class="greyhound-image"></div>
      <mat-card-title class="project-title" color="primary">
        Our Rescues
      </mat-card-title>
      <mat-card-subtitle class="project-subtitle">
        These three (so far...) souls have changed our lives for the better and give us happiness.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Redd Walker</h3>
      <p>(October 23, 2000 - February 8, 2012)</p>
      <p>Adopted in September, 2006</p>
      <img id="redd-walker-image" src="/assets/img/redd-walker.png" />

      <br>
      <hr>

      <h3>Poco Gabby</h3>
      <p>(March 1, 2005 - April 2, 2018)</p>
      <p>Adopted in March, 2012</p>
      <img id="poco-gabby-image" src="/assets/img/poco-gabby.png" />

      <br>
      <hr>

      <h3>Raven</h3>
      <p>(January 18, 2015 - Present)</p>
      <p>Adopted in March, 2012</p>
      <img id="raven-image" src="/assets/img/raven.png" />

    </mat-card-content>
  </mat-card>

</div>