@import '../../../../styles/mixin.scss';

.container--greyhounds {
  width: 100%;
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.container--adoption {
  margin: 12.5px;
}
