@import '../../../../styles/mixin.scss';

.btn {
  margin-right: 10px;
}

.form-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.password-form-field {
  width: calc(50% - 20px);
  margin: 0 10px;
  @media (max-width: 767px) {
    width: calc(100% - 20px);
  }
}

.password-action-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pw {
  letter-spacing: .25em;
  margin-bottom: 20px;
  text-align: left;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
