<mat-card class="project" color="primary" class="mat-elevation-z1 border-bottom-20">
  <mat-card-header>
    <div mat-card-avatar class="personal-image"></div>
    <mat-card-title class="project-title">
      Random Password Generator
    </mat-card-title>
    <mat-card-subtitle class="project-subtitle">
      Use options from dropdowns to create a random password to use for safety.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="project-content-container flex-col">
      <div class="form-field-container">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Password Type" [formControl]="pwTypeControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let type of pwTypes" [value]="type">
              {{ type.display }}
            </mat-option>
          </mat-select>
          <mat-hint align="end">Select a password type</mat-hint>
          <mat-error *ngIf="!pwTypeControl.valid">Please choose a password type</mat-error>
        </mat-form-field>
      </div>
      <div class="form-field-container">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Password Length" [formControl]="lengthControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let type of lengths" [value]="type">
              {{ type.display }}
            </mat-option>
          </mat-select>
          <mat-hint align="end">Select a password length</mat-hint>
          <mat-error *ngIf="!lengthControl.valid">Please choose a password length</mat-error>
        </mat-form-field>
      </div>
      <h2 class="pw" *ngIf="password">
        <span class="password" >{{ password }}</span>
        <br>
      </h2>
      <mat-action-row class="password-action-row">
        <button mat-raised-button color="primary" class="margin-right-10" (click)="setPassword()"
          [disabled]="!pwTypeControl.valid || !lengthControl.valid">
          Generate
        </button>
        <button mat-raised-button color="primary" class="margin-right-10" (click)="copy()"
          *ngIf="pwTypeControl.valid && lengthControl.valid">
          Copy To Clipboard
        </button>
      </mat-action-row>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      role="button"
      type="button"
      aria-role="Share button"
      [matTooltipPosition]="'top'"
      matTooltip="Share project"
      matTooltipShowDelay="750"
      i18n="@@Projects_Actions_Share"
      (click)="share('Password Generator')">
      Share
    </button>
    <button mat-button
      type="button"
      role="button"
      aria-role="GitHub button"
      [matTooltipPosition]="'top'"
      matTooltip="View codebase"
      [matTooltipShowDelay="750"
      i18n="@@Projects_Actions_GitHub"
      (click)="navToGitHubProject('Password Generator')">
      GitHub
    </button>
  </mat-card-actions>
</mat-card>
