<mat-card class="project" color="primary" class="mat-elevation-z1 card--round-border">
  <mat-card-header>
    <div mat-card-avatar class="personal-image"></div>
    <mat-card-title class="project-title">
      Random Password Generator
    </mat-card-title>
    <mat-card-subtitle class="project-subtitle">
      Use options from dropdowns to create a random password to use for safety.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="project-content-container flex-col">
      <div class="form-field-container">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Password Type" [formControl]="pwTypeControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let type of pwTypes" [value]="type">
              {{ type.display }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!pwTypeControl.valid">Please choose a password type</mat-error>
        </mat-form-field>
      </div>
      <div class="form-field-container">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Password Length" [formControl]="pwLengthControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let type of lengths" [value]="type">
              {{ type.display }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!pwLengthControl.valid">Please choose a password length</mat-error>
        </mat-form-field>
      </div>
      <h2 class='pw'>
        <div class='password' *ngIf="password">{{ password }}</div>
      </h2>
      <mat-action-row class="password-action-row">
        <button mat-raised-button color="primary" class='btn btn-success submit' (click)="setPassword()"
          [disabled]="!pwTypeControl.valid || !pwLengthControl.valid">
          Generate
        </button>
        <button mat-raised-button color="primary" class='btn btn-danger clip' (click)="copy()"
          [disabled]="!pwTypeControl.valid || !pwLengthControl.valid">
          Copy To Clipboard
        </button>
      </mat-action-row>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button mat-button (click)="navToGitHubProject()">GITHUB</button>
  </mat-card-actions>
</mat-card>
