<div class="content">
  <!--<div class="pipeline-container">
    <h2 class="pinline"><span i18n="@@Pinline_Projects">pro·jects</span></h2>
  </div>-->

  <div class="projects-container">
    <app-rand-color-text class="project"></app-rand-color-text>
    <app-dice-roller class="project"></app-dice-roller>
    <app-search-highlight class="project"></app-search-highlight>
    <app-color-picker class="project"></app-color-picker>
    <app-password-generator class="project"></app-password-generator>
  </div>
</div>

