@import '../../../../styles/styles.scss';


.border {
  border: solid 2px #666;
  border-radius: 5px;
}

hr {
  width: 100%;
  border: 0;
  clear: both;
  display: block;
  background-color: #aaa;
  height: 1px;
}

.slider-h2 {
  margin: 10px;
}

.project-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 767px) {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.slider-container,
.side-container {
  @include flex-row-justify-start-align-start;
  padding: 10px;
  margin: 10px;
  height: 100%;

  @media (max-width: 767px) {
    width: calc(100% - 20px);
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hex-value {
    margin-top: 20px;
    border-radius: 5px;
  }

  .number-values {
    border-radius: 5px;
  }

  .hex-color {
    width: calc(100%);
    border-radius: 5px;
    margin-top: 20px;
    height: 40px;

    @media (max-width: 767px) {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.slider-container {
  width: 70%;

  @media (max-width: 767px) {
    width: calc(100% - 20px);
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.side-container {
  width: 30%;

  @media (max-width: 767px) {
    width: calc(100% - 20px);
    margin: 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.slider-value.red {
  color: red;
}

.slider-value.green {
  color: green;
}

.slider-value.blue {
  color: #1976d2;
}

h4 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.mat-slider-horizontal {
  width: 100%;
}
