<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    color="primary"
    class="btn-mat-icon"
    (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <a
    class="touchable"
    routerLink="/">
    <h1 class="title">Joshua M. Waggoner</h1>
  </a>
  <span class="spacer"></span>

  <div class="right-side">
    <button
      mat-icon-button
      color="primary"
      class="btn-mat-icon"
      (click)="navToGitHubProject()">
      <mat-icon>code</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      class="btn-mat-icon"
      (click)="toggleLanguage()"
      [matMenuTriggerFor]="languageMenu">
      <mat-icon>language</mat-icon>
    </button>

    <mat-menu #languageMenu="matMenu">
      <ng-container *ngFor="let language of languageList">
        <a href="/{{ language.code }}/">
          <button mat-menu-item>{{ language.label }}</button>
        </a>
       </ng-container>
    </mat-menu>
  </div>
</mat-toolbar>


